.containerPdfMerge {
    margin-top: -507px;
    background-color: white;
    width: 1224px;
    margin-left: 269px;
    height: 480px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}